<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Seller Dashboard</title>
    <link rel="stylesheet" href="seller.css">
    
</head>
<body>
    <header>
        <h1>Seller Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="/addproducts">Add Products</a></li>
            <li><a href="#">My Listing</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            
        </ul>
    </nav>
    <main>
   
    </main>
    <footer>
        <p>&copy; 2024 E-Commerce Seller Dashboard. All rights reserved.</p>
    </footer>
</body>
</html>
