<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller and Browse</title>
    <link rel="stylesheet" href="sellorbuy.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Ecobid!</h1>
        <div class="buttons">
            <button id="sellerButton"><a href="/seller">Seller</a></button>
            <button id="browseButton"><a href="/buyer">Browse</a></button>
        </div>
    </div>
</body>
</html>